//extends navBar
append styles
	// Custom styles for this template
	link(href='styles/home.css', rel='stylesheet')
	link(href='styles/error.css', rel='stylesheet')
block content
	//h1 Error: #{message}
	div(id="message")
		h1 Oops!
		p Error: #{message}
	div(id="buttons")
		a(href="/") Home
		a(href="/Login") Login
		br
		span Your next move