extends navBar
append styles
	// Custom styles for this template
	
	link(href='styles/game.css', rel='stylesheet')
append scripts
	script(type="module" src="scripts/game.js")
	script.
		var user
		user = !{data}
		
block content
	div(class="container" id="container")
		div(id="game" class="game")
			table(style="text-align:center;" id="board" class="board")
			table(id="interface" class="interface")
		div(id="option" class="option")
		
		form(id="settings")
			h1 Options
			br
			label(for="difficulty") Difficulty:&nbsp&nbsp
			select(id="difficulty")
				option(value="Easy") Easy
				option(value="Medium") Medium
			br
			br
			label(for="playerColor") User color:&nbsp
			select(id="playerColor")
				option(value="white") White
				option(value="black" selected) Black
			br
			br
			label(for="npcColor") NPC color:&nbsp
			select(id="npcColor")
				option(value="white") White
				option(value="black") Black
			br
			br
			button Apply
		
