extends navBar
append styles
	// Custom styles for this template
	link(href='styles/home.css', rel='stylesheet')
	link(href='styles/rank.css', rel='stylesheet')
	
append scripts
	script(src="scripts/rank.js")

	script.
		var user
		user = !{data}

block content
	div(id="chart")
	table(id="rank")
		tr 
			th user 
			th point 