#settings {
    width: 50%;
    text-align: center;
    font-family: 'Century Schoolbook';
    background-color: #616161;
    color:white;
}

#game {
    width: 50%;
    background-position: center;
    background-image: url(/images/board.jpg);
    background-size: 544px auto;
    background-repeat: no-repeat;
}
/*reactive layout for mobile*/
@media (max-width: 800px){
    #container {
        height: 100%;
        width: 100%;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-content: center;
    }
    #game{
        width: auto;
    }
    #settings {
        width: 100%;
    }

}
#container {
    height: 100%;
    width: 100%;
    display: flex;
}
/*Board starts here*/
table.board {
    border-collapse: collapse;
    font-size: 30px;
    margin: 0px auto;
    cursor: crosshair;
}
button{
    margin-top:0;
}
th, td {
    /* border: 1px solid red; */
    width: 45px;
    height: 45px;
}
    /*center table cell image*/
    td img {
        display: block;
        margin-left: auto;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: auto;
    }


table.board td:hover {
    background-color: rgba(245,221,144,0.5);
}



/*additional CSS classes*/

label {
    font-size:18px;
}


select {
    background-color: peru;
    color: cornsilk;
    padding: 4px 2px;
    width: 90px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}
    select:hover {
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        color: black;
        background-color: white;
    }

button {
    background-color: peru;
    border: none;
    color: white;
    padding: 2px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;

}
    button:hover {
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
        color: black;
        background-color: white;
    }