/*Board starts here*/
table.board {
    border-collapse: collapse;
    font-size: 30px;
    margin: 0px auto;
}
button{
    margin-top:0;
}
th, td {
    /* border: 1px solid red; */
    width: 45px;
    height: 45px;
}
    /*center table cell image*/
    td img {
        display: block;
        margin-left: auto;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: auto;
    }


table.board td:hover {
    background-color: #f5dd90;
}



/*additional CSS classes*/
#settings {
    text-align: center;
    font-family: 'Century Schoolbook';
}

label {
    font-size:18px;
}
#game {
    background-position: center;
    background-image: url(/images/board.jpg);
    background-size: 544px auto;
    background-repeat: no-repeat;
}

select {
    background-color: peru;
    color: cornsilk;
    padding: 10px;
    width: 120px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}
    

button {
    background-color: peru;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin: 4px 2px;
    cursor: pointer;
}