/*Board starts here*/
table.board {
    border-collapse: collapse;
    font-size: 30px;
    margin: 0px auto;
}
button{
    margin-top:0;
}
th, td {
    /* border: 1px solid red; */
    width: 45px;
    height: 45px;
}
    /*center table cell image*/
    td img {
        display: block;
        margin-left: auto;
        margin-top: auto;
        margin-right: auto;
        margin-bottom: auto;
    }


table.board td:hover {
    background-color: #f5dd90;
}

/*Interface starts here*/
table.interface {
    border-collapse: collapse;
    font-size: 30px;
    margin: 0px auto;
    text-align:center;
}

    table.interface td:hover {
        background-color: #f5dd90;
    }

/*additional CSS classes*/
#top{
    text-align: center;

}
#game {
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-image: url(/images/board.jpg);
    background-size: 544px auto;
    background-repeat: no-repeat;
}
