#rank {
    margin: 0 auto;
    margin-top: -50px;
    color:white;
}

#rank th {
    height: 50px;
    text-align: center;
    border-bottom:1px solid white;
}

#rank td {
    width: 100px;
    height: 40px;
    text-align: center;
}

#chart{
    text-align: center;
    color:white;
}