#logo{
    margin-left: -5px;
    margin-top: -15px;
    width: 50px;
    height: auto;
}
.label{
    width: 320px;
	padding: 30px;
	padding-top: 156px;
    font-size: 40px;
}
.control-row1{
	position: relative;
}
.control-row2{
	position: relative;
}
h1{
    color:aliceblue;
    text-align: center
}
form{
    text-align: center
}
.error{
    font-size:medium;
}